# Welcome to python class

In [18]:
print("Hello world")

Hello world

In [6]:
print(34 + 4)

38

In [12]:
print(12 * 3)

36

### Variables

In [1]:
x = 3
print(x)

3

In [5]:
print( 4 * x + 3)

15

In [7]:
x = 4
print(4 * x + 3)

19

Defining a variable in Python is straightforward, but there are some rules you need to follow:

Start with a letter or underscore: A variable name must begin with a letter (a-z, A-Z) or an underscore (_).
No starting with a number: A variable name cannot start with a number (0-9).
Use only alphanumeric characters and underscores: Variable names can only contain letters, numbers, and underscores (A-z, 0-9, and _).
Case-sensitive: Variable names are case-sensitive, so name, Name, and NAME are considered different variables.
Avoid reserved words: You cannot use Python’s reserved keywords (like class, for, if, etc.) as variable names.

In [ ]:
# Valid variable names
my_variable = 10
_myVariable = 20
myVariable2 = 30

# Invalid variable names
2myVariable = 40  # Starts with a number
my-variable = 50  # Contains a hyphen
class = 60        # Uses a reserved keyword

### Reserved Keywords

In Python, reserved keywords are words that have special meanings and cannot be used as variable names, function names, or any other identifiers. Here is a list of Python’s reserved keywords:

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield
These keywords are integral to the syntax and structure of Python12. If you try to use any of these as identifiers, you’ll get a syntax error.

In [16]:
a, b, c = 4, 3 ,5

In [18]:
print(a)
print(b)
print(c)

4
3
5

In [20]:
print(a, b, c)

4 3 5

In [46]:
# How to end statement with custom string
print("Hello", end=" ") # here print is ending with space
print("World")
print("Rajat")

Hello...WorldRajat

In [66]:
print("Hello", "World", "Rajat", sep = "...", end=" ")
print("!")

Hello...World...Rajat !

In [72]:
user_input = input("Enter you input here: ")

print("User has provided input:", user_input)

Enter you input here:  dfd

User has provided input: dfd

## Data types in python

In [77]:
a = 34
b = 2.45
c = "Hello"
d = 'd'
e = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [81]:
x = '34'
y = 34

<class 'int'>

In [93]:
x = "3434"
converted_value = int(x)
converted_value = float(x)
print(converted_value)
print(type(converted_value))

3434.0
<class 'float'>

In [216]:
s = 34
ss = str(34)
print(ss)
print(type(ss))

34
<class 'str'>

In [99]:
str1 = "Hello"
str2 = " World"
str3 = str1 + str2
print(str3)

Hello World

### Operators in Python

In [108]:
x = 5
y = 20
print("Addition:", x + y)
print("Multiplication:", x * y)

Addition: 25
Multiplication: 100

In [114]:
print("subtraction:", x - y)

subtraction: -15

In [116]:
print("Division:", x / y)

Division: 0.25

In [122]:
print("Exponent:", 2 ** 3)

Exponent: 8

In [124]:
print("Modulo:", 9 % 2)

Modulo: 1

In [133]:
print("Integer Division:", 17 // 2)

Integer Division: 8

In [128]:
17 / 2

8.5

### Comparison Operators

In [138]:
a = 5
b = 10
# Equal to
print(a == b)
print(a != b)

False
True

In [140]:
# Greater that
print(a > b)

False

In [144]:
# Less than
print(a < b)

True

In [158]:
# Less than equal to
print(3 <= 5)

True

In [170]:
# Greater than equal to
print( 4 >= 1)

True

### Assignment Operator

In [188]:
x = 3

x = x + 3
x += 3

x = x - 3
x -= 3

x = x * 3
x *= 3

x = x / 3
x /= 3

x = x % 3
x %= 3

x = x ** 3
x **= 3

x = x // 3
x //= 3

In [204]:
arr = [2, [3,4] , 4.4, True, 6, "Rajat"]
print(arr)
print(type(arr))

[2, [3, 4], 4.4, True, 6, 'Rajat']
<class 'list'>

In [220]:
print(arr[1][0])

3

Basic Variable Assignment:
Write a Python program to assign the value 10 to a variable named x and print its value.

Multiple Assignments:
Assign the values 5, 10, and 15 to variables a, b, and c respectively in a single line, and print their values.

Swapping Variables:
Write a Python program to swap the values of two variables x and y without using a third variable.

Arithmetic Operations:
Create a program that takes two numbers as input and prints their sum, difference, product, and quotient.

Compound Assignment Operators:
Write a Python program to demonstrate the use of compound assignment operators (e.g., +=, -=, *=, /=) with a variable.

String Concatenation:
Assign the strings "Hello" and "World" to variables str1 and str2 respectively, concatenate them, and print the result.

Boolean Variables:
Create a program that assigns True to a variable is_active and False to a variable is_inactive, then print their values.

Type Conversion:
Write a Python program that converts an integer to a float and a float to an integer, then prints the results.

Using input() Function:
Create a program that asks the user for their name and age, stores these values in variables, and prints a message using these variables.

Operator Precedence:
Write a Python program to evaluate the expression 3 + 5 * 2 ** 2 and print the result. Explain the order of operations used.